<!DOCTYPE html>
<html lang="en">
<head>
  <title>AppSec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Registration</a></li>
        <li><a href="#">Spell Checker</a></li>
      </ul>
    </div>
  </div>
</nav>
      <div class="col-sm-8 text-left"> 
      <h1>Register Your Account</h1>
   
  <div class="container">  
      <form class="form-registration" method="POST" action="/register">
	<h2 class=form-login-heading>Registration</h2>
	{{ form.hidden_tag() }}
	{{ csrf_token() }}
    <input type="text" id="uname" class="fadeIn second" name="login" placeholder="username">
    <input type="text" id="pword" class="fadeIn third" name="login" placeholder="password">
    <input type="text" id="2fa" class="fadeIn third" name="login" placeholder="two-factor">
	<input type="submit" class="fadeIn fourth" value="Register Account">
</form>
    </div>
  </div>
</div>

</body>
</html>
